@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'EB Garamond', serif;
    background-color: rgb(4, 4, 43);
    display: flex;
    justify-content: center;
}

h4, ul, p, hr{
    margin: 0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 793.70079px;
    height: 1122.51969px;
    background-color: white;
}

/* .main{
    padding: 0 20px;
} */
.res-head{
    display: flex;
    justify-content: center;
}
.res-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.res-summary{
    margin: 20px 0 0 0;
}
.res-skills{
    margin-top: 20px;
}
.skills-wrapper{
    margin-left: 10px;
}
.skills-wrapper > p{
    margin-top: 5px;
}
.res-projects{
    margin-top: 20px;
}
.res-projects > div{
    margin-top: 10px;
}
.prj-head{
    display: flex;
    justify-content: space-between;
}
.res-education{
    margin-top: 20px;
}
.school, .intermediate{
    display: flex;
    justify-content: space-between;
}
.scl-name, .clg-name{
    margin-top: -20px;
}
.college {
    display: flex;
    justify-content: space-between  ;
}